@import '../css/main.css';

body {
    background-color: #16a085;
    color: #fff;
    font-family: 'Lato';
}
h1,
h2,
h3,
h4 {
    font-weight: 300;
}
.navbar {
  margin-top: 50px;
  background: #fff;
  height: 100px;
  padding-top: 20px;
  padding-bottom: 20px;
  border-radius: 0;
}
.nav-pills {
    margin-top: 10px;
}
.nav-pills > li > a {
    color: #444;
}
.nav-pills > li > a:hover,
.nav-pills > li > a:active {
    background-color: #27ae60;
    color: #fff;
}
.navbar-brand {
    max-width: 200px;
    padding: 0;
    img {
        width: 100%;
    }
}
.signup-section {
    margin-top: 50px;
    font-size: 16px;

    h1 {
        font-size: 40px;
    }

    .signup-form {
        margin-top: 30px;

        .form-control {
            width: 100%;
            border-radius: 0;
            font-size: 18px;
            padding: 30px 20px;
        }

        .btn {
            width: 100%;
            border-radius: 0;
            padding: 20px;
            background-color: #2ecc71;
            font-size: 18px;
            border: 0;

            &:hover {
                background-color: #27ae60;
            }
            &:focus {
                outline: none;
            }
        }
    }
}

